@font-face{
	font-family: HelveticaNeue;
	font-display: swap;
	src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
