.intro {
   font-size: 16px;
   line-height: 19px;
   color: rgba(var(--color-rgb-secondary), 0.8);
   padding: 200px 0 216px;
   background: var(--bg-color) url(../img/bg-intro.jpg) 50% 0 no-repeat;
   position: relative;
   h1 {
     font-weight: 700;
     font-size: 40px;
     line-height: 1.1;
     color: var(--title-color-secondary);
     margin: 0px 0px 170px;
   }
   p {
     margin: 0 0 20px;
   }
   br.show-xs {
     display: none;
   }
 }
 @include media-breakpoint-down(lg) {
   .intro {
     background: var(--bg-color) url(../img/bg-intro.jpg) 64% 0 no-repeat;
   }
 }
 @include media-breakpoint-down(md) {
   .intro {
     padding: 102px 0 23px;
     background: var(--bg-color) url(../img/bg-intro.jpg) 74% 100% no-repeat;
     background-size: cover !important;
     min-height: 100vh;
     display: flex;
     .container {
       --bs-gutter-x: 1.2rem;
       max-width: none;
     }
     .row {
       min-height: 100%;
       & > div {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
       }
     }
     h1 {
       font-size: 24px;
       margin: 0 0 15px;
     }
     p {
       margin: 0 0 31px;
     }
     .btn {
       display: block;
       & + .btn {
         margin: 8px 0 0;
       }
     }
     br.show-xs {
       display: block;
     }
   }
 }