@import "../../node_modules/bootstrap/scss/functions";

@import "custom-variables";

@import "../../node_modules/bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/swiper/swiper-bundle.css";

@import "swiper";

@import "null";
@import "custom-root";
@import "header";
@import "section-intro";
@import "section-pricing";
@import "section-trial";
@import "section-why-us";
@import "section-trainers";
@import "section-classes";
@import "section-timetable";
@import "section-stories";
@import "section-fotos";
@import "footer";

body {
  // font-family: "Lato", sans-serif;
  // background-color: var(--bs-body-bg);
  // font-weight: 400;
  // font-size: 12px;
  height: 100%;
  // line-height: 1.2;
  // color: #000;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: var(--title-color);
  padding-left: 70px;
  margin-bottom: 50px;
}
@include media-breakpoint-up(xl) {
  h2 {
    font-size: 30px;
  }
}
@include media-breakpoint-down(md) {
  h2 {
    font-size: 22px;
    padding-left: 0;
    margin-bottom: 15px;
    text-align: center;
  }
}
h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}
@include media-breakpoint-up(xl) {
  h3 {
    font-size: 20px;
  }
}
h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
}

#wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#main {
  flex: 1 1 100%;
}
.btn {
  display: inline-block;
  vertical-align: top;
  min-width: 176px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 10px;
  background: var(--btn-bg-color-secondary);
  border: 1px solid var(--btn-border-color);
  padding: 14px 10px;
  text-align: center;
  color: var(--btn-text-color);
  cursor: pointer;
  &:hover {
    background: var(--btn-bg-color);
    color: var(--btn-text-color-secondary);
    border-color: var(--btn-border-color-secondary);
  }
  & + .btn {
    margin-left: 18px;
  }

  &-secondary {
    background: var(--btn-bg-color);
    color: var(--btn-text-color-secondary);
    border-color: var(--btn-border-color-secondary);
    &:hover {
      background: var(--btn-bg-color-secondary);
      color: var(--btn-text-color);
      border-color: var(--btn-border-color);
    }
  }
  &-transparent {
    background: none;
  }
}
@include media-breakpoint-down(md) {
  .btn {
    font-size: 16px;
    padding: 19px 10px;
    width: 100%;
  }
}
.socials {
  display: flex;
  align-items: center;
  gap: 14px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    background: var(--bg-color-secondary);
    color: var(--text-color);
    &:hover {
      opacity: 0.8;
    }
  }
}
@include media-breakpoint-down(md) {
  .socials {
    gap: 26px;
    justify-content: center;
    a {
      width: 40px;
      height: 40px;
      i {
        font-size: 22px;
      }
    }
  }
}
//===============================
.btn-top {
  height: 78px;
  width: 78px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  position: absolute;
  bottom: 140px;
  right: -80px;
  &::before,
  &::after {
    content: "";
    top: 50%;
    left: 47%;
    width: 17px;
    height: 1px;
    background: var(--bg-color);
    transform: rotate(45deg);
    position: absolute;
  }
  &::after {
    left: auto;
    right: 47%;
    transform: rotate(315deg);
  }
}
@include media-breakpoint-down(xl) {
  .btn-top {
    height: 44px;
    width: 44px;
    bottom: 14px;
    right: 15px;
    &::before,
    &::after {
      width: 11px;
    }
  }
}
