// @import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";

@import "custom-variables";

// $body-color: #111;
@import "../../node_modules/bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/transitions";
//==========import 'swiper/css';
@import "../../node_modules/swiper/swiper-bundle.css";
// @import 'swiper/css';
// @import '../../node_modules/swiper/c';
// @import 'swiper/css/pagination';
// include custom files
@import "swiper";
@import "null";
@import "custom-root";

body {
  // font-family: "Lato", sans-serif;
  // background-color: var(--bs-body-bg);
  // font-weight: 400;
  // font-size: 12px;
  height: 100%;
  // line-height: 1.2;
  // color: #000;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: var(--title-color);
  padding-left: 70px;
  margin-bottom: 50px;
}
@include media-breakpoint-up(xl) {
  h2 {
    font-size: 30px;
  }
}
@include media-breakpoint-down(md) {
  h2 {
    font-size: 22px;
    padding-left: 0;
    margin-bottom: 15px;
    text-align: center;
  }
}
h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}
@include media-breakpoint-up(xl) {
  h3 {
    font-size: 20px;
  }
}
h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
}

#wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#main {
  flex: 1 1 100%;
}
.btn {
  display: inline-block;
  vertical-align: top;
  min-width: 176px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 10px;
  background: var(--bg-color-secondary);
  border: 1px solid var(--border-color);
  padding: 14px 10px;
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
  &:hover {
    background: var(--bg-color);
    color: var(--text-color-secondary);
    border-color: var(--border-color-secondary);
  }
  & + .btn {
    margin-left: 18px;
  }

  &-secondary {
    background: var(--bg-color);
    color: var(--text-color-secondary);
    border-color: var(--border-color-secondary);
    &:hover {
      background: var(--bg-color-secondary);
      color: var(--text-color);
      border-color: var(--border-color);
    }
  }
  &-transparent {
    background: none;
  }
}
@include media-breakpoint-down(md) {
  .btn {
    font-size: 16px;
    padding: 19px 10px;
    width: 100%;
  }
}
.socials {
  display: flex;
  align-items: center;
  gap: 14px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    background: var(--bg-color-secondary);
    color: var(--text-color);
    &:hover {
      opacity: 0.8;
    }
  }
}
@include media-breakpoint-down(md) {
  .socials {
    gap: 26px;
    justify-content: center;
    a {
      width: 40px;
      height: 40px;
      // background: #000;
      // color: #fff;
      i {
        font-size: 22px;
      }
    }
  }
}

//===========================header
#header {
  position: absolute;
  z-index: 10;
  top: 28px;
  left: 0;
  right: 0;
  .mobile {
    display: none;
  }
  .dropdown-menu {
    background: var(--bg-color);
    border: 1px solid var(--border-color-secondary);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    padding: 0;
    overflow: hidden;
    .dropdown-item {
      color: var(--text-color-secondary);
    }
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: var(--text-color-secondary);
    background-color: transparent;
    opacity: 0.5;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: rgba(255, 255, 255, 255);
    color: var(--title-color);
  }
}
.navbar-brand {
  width: 86px;
  padding: 0;
  margin: 5px 80px 0 0;
  .navbar-collapse & {
    display: none;
  }
}
.navbar-scroll {
  width: 100%;
  &-holder {
    display: flex;
    justify-content: space-between;
  }
  .fa-solid {
    font-size: 9px;
    margin: 0 0 0px 7px;
  }
}
.navbar-nav {
  gap: 32px;
  .nav-link {
    color: var(--text-color-secondary);
    &:hover {
      color: rgba(244, 240, 240, 0.566);
    }
  }

  // .dropdown-toggle::after {
  //   // border: none;
  //   vertical-align: top;
  //   color: #fff;
  //   // content: "\e5cf";
  //   content: "\f107";
  //   font-family: "Foto";
  // }
}
@include media-breakpoint-down(lg) {
  #header {
    top: 0;
    .container {
      max-width: none;
    }
    .dropdown-menu {
      background: var(--bg-color-secondary);
      border: none;
      border-radius: 0;
      display: block;
      .dropdown-item {
        color: var(--text-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
  .navbar-brand {
    margin: 5px 0 0 8px;
    .navbar-collapse & {
      display: block;
      margin: 0;
      position: absolute;
      top: 14px;
      left: 20px;
    }
  }
  .navbar-toggler {
    position: relative;
    z-index: 2;
    border: none !important;
    &:focus {
      box-shadow: none;
    }
    &[aria-expanded="true"] {
      position: fixed;
      top: 10px;
      right: 10px;
      .navbar-toggler-icon {
        position: relative;
        background: none;
        &::before,
        &:after {
          content: "";
          position: absolute;
          width: 2px;
          height: 37px;
          left: 50%;
          top: 0;
          background: var(--bg-color);
          transform: rotate(-45deg);
        }
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  .navbar-scroll {
    height: 100vh;
    padding: 74px 0 20px;

    &-holder {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
      height: 100%;
      width: 100%;
    }
  }
  .navbar-nav {
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    display: block;
    width: 100%;
    .nav-link {
      width: 100%;
      text-align: center;
      padding: 13px 0 22px;
      color: var(--text-color) !important;
      &.show,
      &.active {
        color: var(--text-color-secondary) !important;
        background: linear-gradient(
          90deg,
          rgba(250, 2, 255, 0.55) 0%,
          rgba(168, 42, 218, 0.85) 37.78%,
          rgba(66, 0, 255, 0.8) 100%
        );
      }
      
    }
    .dropdown-menu {
      margin: 0;
      padding: 0;
      border: none;
    }
    .dropdown-item {
      padding: 13px 10px 22px 49%;
      font-weight: 700;
      text-align: left;
      &.active {
        color: var(--text-color-secondary) !important;
        background: linear-gradient(
          90deg,
          rgba(250, 2, 255, 0.55) 0%,
          rgba(168, 42, 218, 0.85) 37.78%,
          rgba(66, 0, 255, 0.8) 100%
        );
      }
    }
  }
  #header {
    .socials {
      gap: 26px;
      justify-content: center;
      a {
        width: 40px;
        height: 40px;
        background: var(--bg-color);
        color: var(--text-color-secondary);
        i {
          font-size: 22px;
        }
      }
    }
  }
}
//=====================intro
.intro {
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  padding: 200px 0 216px;
  background: var(--bg-color) url(../img/bg-intro.jpg) 50% 0 no-repeat;
  position: relative;
  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    color: var(--title-color-secondary);
    margin: 0px 0px 170px;
  }
  p {
    margin: 0 0 20px;
  }
  br.show-xs {
    display: none;
  }
}
@include media-breakpoint-down(lg) {
  .intro {
    background: var(--bg-color) url(../img/bg-intro.jpg) 64% 0 no-repeat;
  }
}
@include media-breakpoint-down(md) {
  .intro {
    padding: 102px 0 23px;
    background: var(--bg-color) url(../img/bg-intro.jpg) 74% 100% no-repeat;
    background-size: cover !important;
    min-height: 100vh;
    display: flex;
    .container {
      --bs-gutter-x: 1.2rem;
      max-width: none;
    }
    .row {
      min-height: 100%;
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    h1 {
      font-size: 24px;
      margin: 0 0 15px;
    }
    p {
      margin: 0 0 31px;
    }
    .btn {
      display: block;
      & + .btn {
        margin: 8px 0 0;
      }
    }
    br.show-xs {
      display: block;
    }
  }
}
//===================pricing
.pricing {
  margin: -104px 0 0;
  position: relative;
  padding: 0 0 54px;
  h2 {
    color: var(--title-color-secondary);
    margin: 0 0 30px;
  }
  .swiper {
    &-container {
      margin: 0 -15px;
    }
    &-wrapper {
      padding: 15px 0 50px;
    }
    &-slide {
      padding: 0 20px;
    }
    &-button-prev {
      top: 44%;
      left: -50px;
    }
    &-button-next {
      top: 44%;
      right: -50px;
    }
    &-button-next:after,
    &-button-prev:after {
      color: #000;
    }
  }
}
.price-block {
  padding: 32px 33px 44px 37px;
  border: 1px solid rgba(5, 5, 6, 0.2);
  background: var(--bg-color-secondary);
  border-radius: 6px;
  color: var(--text-color);
  &-title {
    border-bottom: 1px solid #cdcdcd;
    margin: 0 0 27px;
    padding: 0 0 35px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    h3 {
      margin: 0 0 14px;
    }
    .price {
      font-size: 16px;
    }
  }
  &-body {
    ul {
      padding-bottom: 2px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 17px 4px 35px;
        margin: 0 0 23px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 23px;
          height: 23px;
          background: var(--bg-color) url(../img/pricing/icons-01.png) 50% 50% no-repeat;
          border-radius: 50%;
        }
      }
    }
    .price {
      font-size: 16px;
    }
  }
  .swiper-slide-next & {
    border-color: var(--border-color-secondary);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px 14px 16px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: -12px;
    .price-block-title {
      h3 {
        margin: 0 0 18px;
      }
    }
    .price-block-body {
      ul {
        padding-bottom: 10px;
        transition: padding-bottom 0.3s ease;
      }
      .btn {
        background: var(--bg-color);
        color: var(--text-color-secondary);
        border-color: var(--border-color-secondary);
        &:hover {
          background: var(--bg-color-secondary);
          color: var(--text-color);
          border-color: var(--border-color);
        }
      }
    }
  }
}
@include media-breakpoint-down(xl) {
  .pricing {
    .swiper {
      &-button-prev {
        left: -10px;
      }
      &-button-next {
        right: -10px;
      }
    }
  }
  .price-block {
    padding: 32px 20px 44px 20px;
  }
}
@include media-breakpoint-down(md) {
  .pricing {
    margin: 0;
    padding: 26px 0 54px;
    h2 {
      color: var(--title-color);
      margin: 0;
    }
    .swiper {
      &-container {
        margin: 0;
      }
      &-slide {
        padding: 0 25px;
      }
    }
  }
  .price-block {
    border: none;
    height: 100%;
    padding: 32px 20px 26px 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px 14px 16px 10px rgba(0, 0, 0, 0.15);
    &-title {
      margin: 0 0 25px;
      padding: 0 0 29px;
    }
    &-body {
      ul {
        li {
          padding: 0 27px 4px 35px;
          margin: 0 0 20px;
        }
      }
    }
    .btn {
      background: var(--bg-color);
      color: var(--text-color-secondary);
      border-color: var(--border-color-secondary);
      &:hover {
        background: var(--bg-color-secondary);
        color: var(--text-color);
        border-color: var(--border-color);
      }
    }
    .swiper-slide-next & {
      margin-bottom: 0;
      .price-block-title {
        h3 {
          margin: 0 0 14px;
        }
      }
      .price-block-body {
        ul {
          padding-bottom: 0;
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .price-block {
    padding: 32px 10px 26px 10px;
  }
  .price-block-body {
    ul {
      li {
        padding: 0 14px 4px 27px;
      }
    }
  }
}

//=============================trial
.trial {
  background: var(--bg-color);
  overflow: hidden;
  .container {
    max-width: 1440px;
    padding: 0;
    display: flex;
    min-height: 457px;
  }
  &-title {
    flex: 0 0 50.5%;
    position: relative;
    picture {
      display: block;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .decor {
      background: var(--bg-color-secondary);
      font-weight: 700;
      font-size: 30px;
      line-height: 102%;
      color: var(--text-color);
      position: absolute;
      top: 45px;
      left: 0;
      right: 28%;
      text-align: end;
      border-radius: 0 10px 10px 0;
      padding: 6px 9px 7px 0;
    }
  }
  &-body {
    flex: 0 0 49.5%;
    padding: 44px 83px 51px 74px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  p {
    margin: 0 0 38px;
  }
  h3 {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 33px;
  }
  ul {
    display: flex;
    color: var(--text-color-secondary);
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 1px;
    margin: 0 -24px 29px 0;
    li {
      width: 125px;
      padding: 3px 0 6px 34px;
      margin: 0 33px 19px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 23px;
        height: 23px;
        background: var(--bg-color-secondary) url(../img/trial/icons-01.svg) 50% 50% no-repeat;
        border-radius: 50%;
      }
    }
  }
}
@include media-breakpoint-up(xxl) {
  .trial {
    &-title {
      picture {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: 10;
          left: -2px;
          width: 45px;
          background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
        }
      }
    }
  }
}
@include media-breakpoint-down(xl) {
  .trial {
    &-title {
      .decor {
        right: 15%;
      }
    }
    &-body {
      padding: 30px 40px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .trial {
    .container {
      display: block;
    }
    &-title {
      height: 400px;
      .decor {
        right: 45%;
      }
    }
    &-body {
      padding: 18px 20px 27px;
      font-size: 14px;
    }
    p {
      margin: 0 0 20px;
    }
    h3 {
      margin: 0 0 23px;
    }
    ul {
      margin: 0 0 21px;
      li {
        width: 33.33%;
        margin: 0;
        padding: 0 4px 12px 18px;
        &::before {
          top: 1px;
          width: 13px;
          height: 13px;
          background-size: 6px 6px !important;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .trial {
    &-title {
      height: 197px;
      .decor {
        top: 12px;
        font-size: 24px;
        right: 0;
        border-radius: 0;
        text-align: center;
        padding: 4px;
      }
    }
  }
}
//=========================why-us
.why-us {
  padding: 65px 0px 103px;
  .row {
    --bs-gutter-x: 2.5rem;
  }
  &-item {
    background: var(--bg-color-secondary);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 36px 32px 40px 33px;
    height: 100%;
    h3 {
      margin: 0;
    }
    p {
      font-size: 16px;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.8);
      margin: 0;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    // gap: 22px;
    margin: 0px 0px 32px;
    picture {
      width: 58px;
      height: 58px;
      background: var(--bg-color);
      border-radius: 50%;
      flex: 0 0 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 22px 0px 0px;
    }
  }
}
@include media-breakpoint-down(xl) {
  .why-us {
    padding: 35px 0 65px;
  }
}
@include media-breakpoint-down(lg) {
  .why-us {
    .container {
      --bs-gutter-x: 0;
    }
    .row {
      --bs-gutter-x: 1.5rem;
    }
    &-item {
      padding: 25px 20px;
    }
  }
}
@include media-breakpoint-down(md) {
  .why-us {
    padding: 35px 0;
    .container {
      --bs-gutter-x: 1rem;
    }
    &-item {
      height: auto;
      margin: 0 0 14px;
    }
    &-title {
      picture {
        margin: 0 15px 0 0;
      }
    }
  }
}
//=========================trainers
.trainers {
  background: var(--bg-color);
  color: var(--text-color-secondary);
  padding: 57px 0 107px;
  h2 {
    color: var(--title-color-secondary);
  }
  &-items {
    background: #0f0f0f;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    display: flex;
    overflow: hidden;
    height: 100%;
    overflow: hidden;
  }
  &-img {
    flex: 0 0 256px;
    border-radius: 6px 0px 0px 6px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .mobile {
      display: none;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 22px 73px 13px;
    color: rgba(255, 255, 255, 0.7);
    h3 {
      color: #fff;
      margin: 0 0 7px;
    }
    .sport {
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2;
      margin: 0 0 32px;
    }
    p {
      margin: 0;
    }
  }
  &-socials {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 0;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background: var(--bg-color-secondary);
      border-radius: 50%;
      color: var(--text-color);
    }
    .social-item:hover {
      opacity: 0.5;
    }
  }
}
@include media-breakpoint-down(xl) {
  .trainers {
    padding: 35px 0 65px;
    &-img {
      flex: 0 0 180px;
    }
    &-body {
      padding: 45px 23px 30px 20px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .trainers {
    &-body {
      gap: 10px;
    }
    &-img {
      flex: 0 0 140px;
    }
  }
}
@include media-breakpoint-down(md) {
  .trainers {
    padding: 65px 0;
    &-items {
      flex-direction: column;
    }
    h2 {
      margin: 0 0 30px;
    }
    &-img {
      flex: 0 0 220px;
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
    &-body {
      font-size: 16px;
      padding: 6px 23px 21px 20px;
      gap: 35px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        text-align: center;
        margin: 0 0 1px;
      }
      .sport {
        text-align: center;
        margin: 0 0 17px;
      }
    }
    &-socials {
      justify-content: center;
    }
    .swiper-container {
      padding: 0 21px;
    }
  }
}
//=========================classes
.classes {
  background: var(--bg-color-secondary);
  color: var(--text-color);
  padding: 86px 0 107px;
  &-items {
    display: flex;
    flex-direction: column;
    background: var(--bg-color-secondary);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 100%;
  }
  &-img {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    height: 200px;
    picture {
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-body {
    padding: 15px 33px 31px 35px;
    color: rgba(0, 0, 0, 0.8);
    h3 {
      margin: 0 0 21px;
    }
    p {
      margin-bottom: 13px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .swiper {
    &-button-next:after,
    &-button-prev:after {
      color: #000;
    }
  }
}

@include media-breakpoint-down(xl) {
  .classes {
    padding: 35px 0 60px;
    &-img {
      height: 160px;
      picture {
        height: 100%;
      }
    }
    &-body {
      padding: 15px 20px 31px 20px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .classes {
    &-img {
      height: 210px;
    }
  }
}
@include media-breakpoint-down(md) {
  .classes {
    &-items {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

//================timetable
.timetable {
  padding: 57px 0 111px;
  background: var(--bg-color) url(../img/timetable/bg-timetable.jpg) 50% 0 no-repeat;
  h2 {
    color: var(--title-color-secondary);
  }
}
.time {
  &-table {
    border: 1px solid var(--border-color-secondary);
    color: var(--text-color-secondary);
  }
  &-row {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color-secondary);
    }
  }
  &-cell {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 15px 5px 15px 62px;
    gap: 72px;
    font-size: 16px;
    line-height: 1.2;
    &.right {
      padding: 6px 5px 11px 139px;
      font-size: 12px;
      line-height: 1.2;
      border-left: 1px solid var(--border-color-secondary);
      ul {
        padding: 0;
        li {
          &:not(:last-child) {
            margin: 0px 0px 12px;
          }
          .days {
            padding: 0 10px 0 0;
            display: inline-block;
            width: 120px;
          }
          .time {
            padding: 0px 0px 0px 20px;
          }
        }
      }
    }
    .icon {
      flex: 0 0 28px;
      text-align: center;
    }
  }
}
.swiper {
  &-button-prev {
    left: -70px;
  }
  &-button-next {
    right: -70px;
  }
  &-button-next:after,
  &-button-prev:after {
    color: #fff;
  }
}
@include media-breakpoint-down(xl) {
  .timetable {
    padding: 35px 0 65px;
  }
}
@include media-breakpoint-down(lg) {
  .time-cell {
    gap: 40px;
    padding: 15px 5px 15px 30px;
    &.right {
      padding: 6px 5px 11px 40px;
    }
  }
}
@include media-breakpoint-down(md) {
  .timetable {
    padding: 45px 0;
    .time-cell {
      font-size: 14px;
      flex: 0 0 41%;
      gap: 11px;
      padding: 4px 12px 8px;
      .icon {
        flex: 0 0 23px;
        img {
          max-height: 28px;
        }
      }
    }
    .right {
      font-size: 12px;
      flex: 0 0 59%;
      padding: 8px 5px 11px 12px;
      ul {
        li {
          &:not(:last-child) {
            margin: 0px 0px 5px;
          }
          .days {
            width: auto;
            padding: 0;
          }
          .time {
            padding: 0 0 0 2px;
          }
        }
      }
    }
    h2 {
      display: none;
    }
    .container {
      --bs-gutter-x: 1.2rem;
    }
  }
}
//============stories
.stories {
  background: var(--bg-color-secondary);
  color: var(--text-color);
  padding: 85px 0 104px;
  .btn {
    min-width: 116px;
    padding: 5px 0 8px;
    font-size: 14px;
    line-height: 1.2;
  }
  &-items {
    background: var(--bg-color-secondary);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    display: flex;
    height: 100%;
  }
  &-img {
    flex: 0 0 262px;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
    picture {
      display: block;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-body {
    padding: 61px 25px 24px 23px;
    h4 {
      color: var(--text-color);
      position: relative;
      margin: 0 0 10px;
      &::before {
        content: "";
        position: absolute;
        top: -32px;
        left: 0;
        width: 18px;
        height: 15px;
        background: url(../img/stories/decor-img.png) 0 0 no-repeat;
      }
    }
    .story {
      position: relative;
      padding: 0 5px 0 0;
      margin: 0 0 14px;
      font-size: 14px;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.8);
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180.24deg, rgba(255, 255, 255, 0) 0.21%, #ffffff 89.26%);
      }
    }
  }
  .swiper {
    &-button-next:after,
    &-button-prev:after {
      color: #000;
    }
  }
}

@include media-breakpoint-down(xl) {
  .stories {
    padding: 35px 0 65px;
    &-img {
      flex: 0 0 180px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .stories {
    &-body {
      padding: 50px 15px 20px 15px;
      gap: 10px;
    }
    &-img {
      flex: 0 0 140px;
    }
  }
}
@include media-breakpoint-down(md) {
  .stories {
    &-body {
      padding: 40px 15px 20px 15px;
      .story {
        max-height: 130px;
        overflow: hidden;
      }
      h4::before {
        top: -22px;
      }
    }
    &-items {
      display: block;
    }
    &-img {
      height: 204px;
      border-radius: 0;
    }
    .swiper-container {
      padding: 0 20px;
    }
    .btn {
      padding: 20px 0px 20px 0px;
    }
  }
}
//=====================fotos
.fotos {
  background-color: var(--bg-color);
  padding: 29px 0px 29px 0px;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    z-index: 1;
    height: 100%;
    background: linear-gradient(90deg, #000 0, rgba(0, 0, 0, 0) 100%);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    z-index: 1;
    height: 100%;
    background: linear-gradient(275deg, #000 0, rgba(0, 0, 0, 0) 100%);
  }
  &-items {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin: 0 -114px;
  }
  &-item {
    flex: 0 0 300px;
    width: 300px;
    height: 233px;
    position: relative;
    .icons {
      position: absolute;
      bottom: 7px;
      right: 10px;
    }

    img {
      max-width: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@include media-breakpoint-down(md) {
  .fotos {
    &-items {
      gap: 23px;
    }
    &-item {
      flex: 0 0 208px;
      width: 208px;
      height: 162px;
    }
  }
}
//==================footer
#footer {
  padding-top: 85px;
  padding-bottom: 164px;
  position: relative;
  .row {
    --bs-gutter-x: 2rem;
  }
  .form-group {
    margin: 0 0 18px;
  }
  .form-control {
    padding: 10px 15px;
  }
  textarea.form-control {
    resize: none;
    height: 90px;
  }
  .socials {
    gap: 14px;
    justify-content: flex-end;
    a {
      width: 32px;
      height: 32px;
      background: var(--bg-color);
      color: var(--text-color-secondary);
      i {
        font-size: 18px;
      }
    }
  }
}
.footer {
  &-info {
    display: flex;
    flex-wrap: wrap;
    padding-left: 74px;
    margin: 0 0 -17px;
    li {
      flex: 0 0 50%;
      position: relative;
      padding: 20px 0 45px 66px;
      margin: 0 0 27px 0;
    }
    .icon {
      background: var(--bg-color);
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h3 {
    }
    p {
      margin: 0 0 14px;
      &:last-child {
        margin: 0;
      }
    }
    a {
      color: var(--text-color);
    }
  }
}
@include media-breakpoint-down(xl) {
  #footer {
    padding-top: 35px;
    padding-bottom: 65px;
  }
  .footer-info {
    padding-left: 30px;
    margin: 0;
    li {
      padding: 20px 0 20px 66px;
    }
  }
}
@include media-breakpoint-down(lg) {
  #footer {
    .btn {
      display: block;
    }
    .socials {
      justify-content: center;
      gap: 27px;
      a {
        width: 40px;
        height: 40px;
      }
    }
  }
  .footer {
    &-info {
      padding: 40px 0 0;
    }
  }
}
@include media-breakpoint-down(md) {
  .footer-info {
    margin: 0px 0px 22px 0px;
    text-align: center;
    li {
      padding: 0;
    }
    .icon {
      position: static;
      margin: 0 auto;
    }
    p {
      font-size: 16px;
    }
    address {
      font-size: 16px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .footer-info {
    flex-direction: column;
  }
}
//===============================
.btn-top {
  height: 78px;
  width: 78px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  position: absolute;
  bottom: 140px;
  right: -80px;
  &::before,
  &::after {
    content: "";
    top: 50%;
    left: 47%;
    width: 17px;
    height: 1px;
    background: var(--bg-color);
    transform: rotate(45deg);
    position: absolute;
  }
  &::after {
    left: auto;
    right: 47%;
    transform: rotate(315deg);
  }
}
@include media-breakpoint-down(xl) {
  .btn-top {
    height: 44px;
    width: 44px;
    bottom: 14px;
    right: 15px;
    &::before,
    &::after {
      width: 11px;
    }
  }
}
