//=============================swiper
.swiper {
   &-container {
     position: relative;
   }
   &-button-prev {
     left: -70px;
   }
   &-button-next {
     right: -70px;
   }
   &-button-next:after,
   &-button-prev:after {
     font-size: 30px;
     color: #000;
   }
   &-slide {
     height: auto;
   }
 }
 @include media-breakpoint-down(xl) {
   .swiper {
     &-container {
       padding: 0px 40px;
     }
     &-button-prev {
       left: -10px;
     }
     &-button-next {
       right: -10px;
     }
   }
 }
 @include media-breakpoint-down(lg) {
   .swiper {
     &-container {
       padding: 0px 20px;
     }
     &-button-prev {
       left: -15px;
     }
     &-button-next {
       right: -15px;
     }
   }
 }
 @include media-breakpoint-down(md) {
   .swiper {
     &-container {
       padding: 0px 10px;
     }
     &-button-next:after,
     &-button-prev:after {
       font-size: 20px;
     }
   }
 }